<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search"></i>&nbsp;{{ 'Search' | translate }}
        </a>
        <!--div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Case Details' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a class="list-group-item" [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']">
                            <span><i class="fa fa-fw fa-file-o"></i>&nbsp; {{ 'Policy Details' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/components']" [routerLinkActive]="['router-link-active']">
                            <span><i class="fa fa-fw fa-file-o"></i>&nbsp; {{ 'Contact Log' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']">
                            <span><i class="fa fa-fw fa-file-o"></i>&nbsp; {{ 'NBPR' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']">
                            <span><i class="fa fa-fw fa-file-o"></i>&nbsp; {{ 'Referral' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a-->
        <div class="header-fields">
            <a [routerLink]="['/login']" (click)="onLoggedout()" class="list-group-item">
                <span><i class="fa fa-power-off"></i>&nbsp; {{ 'Log Out' | translate }}</span>
            </a>            
        </div>
    </div>
</nav>
